/ 読んでいない通知が1つ以上あれば、読んでいない件数を表示させる
- if current_user.activities.unread.count > 0
  span.badge.badge-warning.navbar-badge.position-absolute style='top: 0; right:0;'
    = current_user.activities.unread.count