/ いいねされている場合のパーシャル、js形式でリクエストが送られる、アクションはlikes#destroy
= link_to like_path(current_user.likes.find_by(post_id: post.id)), method: :delete, class: 'unlike-button', remote: true do
  = icon 'fa', 'heart', class: 'fa-lg'